*                  @MikaelSmith
*/wash.*           @puppetlabs/wash
*/puppet-bolt.*    @puppetlabs/bolt
*/pdk.*            @puppetlabs/pdk
*/puppet-agent*    @puppetlabs/night-s-watch
*/pe-client-tools* @puppetlabs/skeletor